#pixelPainter {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center; align-items: center;
  padding: 10px;
}

#grid, #colors {
  display: flex;
  padding: 5px;
}

#sidebar {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}


.pixelSq, .colorSq {
  height: 30px;
  width: 30px;
  border: 0.25px solid #808080;

}

#eraseButton, #clearButton {
  margin: 5px;
}