body {
  background-image: url('http://i68.tinypic.com/2d11kj4.png');
  background-size: 25%;
}

h1 {
  font-family: 'Emilys Candy', cursive;
  font-size: 100px;
  letter-spacing: 25px;
  text-align: center;
  margin-bottom: 0px;
}

#pixelPainter {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center; align-items: center;
  padding: 10px;
}

#grid, #colors {
  display: flex;
  padding: 5px;
  background-color: white;
  margin: 10px;
  margin-top: 0px;
}

#sidebar {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}


.pixelSq, .colorSq {
  height: 30px;
  width: 30px;
  border: 0.25px solid #808080;

}

#eraseButton, #clearButton {
  margin: 5px;
}

#curColorBox {
  border: 1px solid black;
  height: 80px;
  width: 100px;
  margin-top: 10px;
  background-color: black;
}

#sideBarChild {
  display: flex;
  flex-direction: column;
}